body {
    background-color: #F1FAEE;
    margin-top: 20px;
}

h1 {
    color: #1D3557;
    font-family: 'Grenze Gotisch', cursive;
    text-align: left;
    margin-top: -10px; 
}

h2,
h3,
h4,
h5,
h6 {
    color: #457B9D;
    font-family: 'Grenze Gotisch', cursive;
}

h2 {
    color: #E63946;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 25px;
}

h3 {
    text-align: left;
    margin-bottom: 15px;

}

h4 {
    float: left;
    color: #E63946;
}


p, input, label {
    color: #1D3557;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 75%;
    margin: auto;
}

h5 + p {
    margin-top: 90px;
}

.thankYou {
    margin-top: 150px;
}

/* Product Page */

img.product {
    margin: 50px;
    margin-bottom: 5px;
}


.productDescription {
    text-align: center;
}

.menuItem {
    margin-bottom: 75px;
}

.menuItem p {
    margin-top: 130px;
}

/* Cart */

.cart {
width: 90%;
margin-left: auto;
margin-right: 20px;
margin-top: 30px;
border-top: 2px solid #A8DADC;
border-bottom: 2px solid #A8DADC;
padding: 30px;
background-color: #A8DADC;
}

img.hero {
    width: 600px;
    padding-top: 20px;
    position: ;
    margin-left: 0px;
}

.order-summary {
    background-color: #A8DADC;
    padding: 30px;
    padding-bottom: 30px;
    text-align: center;
    /* float: right; */
}

.order-summary h3 {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}



/* Bootstrap Overrides */

.btn-primary:hover, .btn-primary, .cartButton, .cartButton:hover{
    color: #ffffff;
    background-color: #E63946;
    padding: 10px;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20px;
    border: none;
}

.product {
    display: flex;
}

a {
    text-decoration: none;
    color: #1D3557;
}

a:hover {
    text-decoration: underline;
    color: #1D3557;
}

a.Product {
    color: #ffffff;
}

form {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    margin-bottom:15px;
    width: 200px;
}

.navAdjust {
    padding-right: 10px;
    padding-left: 10px;
}

img.thumbnails {
    width: 90px;
    padding: 5px;
    margin: 0;
}

img.firstThumbnail {
    margin-left: 30px;
}
