img.resize {
    max-width: 300px;
    max-height: 300px;
    margin-left: 250px;
    margin-right: 30px;
    display: inline-block;
}

img {
    max-width: 90%;
    margin: auto;
}

#cartIcon {
    width: 50px;
    height: 50px;
    display: inline-block;
}

nav {
    display: inline-block;
}

.navOne {
    margin-left: 10px;
    display: inline-block;
}

.navTwo {
    margin-left: 800px;
    display: inline-block;
}

body {
    background-color: #F1FAEE;
}

a:link {
    color: #1D3557;
    text-decoration: none;
  }

a:visited {
    color: #1D3557;
    text-decoration: none;
  }

h1 {
    font-size: 5rem;
    color: #1D3557;
    font-family: 'Grenze Gotisch', cursive;
    width: 58%;
    margin: auto;
}

p, li, label, input, td {
    color: #1D3557;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding-inline-start: 0px;
    display: inline-block;
}
h2,
h3,
h4,
h5,
h6 {
    color: #457B9D;
    font-family: 'Grenze Gotisch', cursive;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    color: #E63946;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 1.7em;
    margin-left: 100px;
}

h4 {
    width: 20%;
}

.menu {
width: 90%;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
border-top: 2px solid #A8DADC;
border-bottom: 2px solid #A8DADC;
padding-top: 10px;
padding-bottom: 50px;
border-top: 2px solid #A8DADC;
}

}

.cartButton {
    color: #ffffff;
    background-color: #E63946;
    padding: 10px;
    width: 30px;
    margin: auto;
    text-decoration: none;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20px;
    border: none;
}

hr {
    color: #A8DADC;
}

.col10 {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 10px;
}

.col30 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
}

.col40 {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.col70 {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
}

/* Product Page */
img.hero {
    width: 600px;
    padding-top: 20px;
    position: ;
    margin-left: 0px;
}

.thumbnails li {
    display: inline-block;
    margin-left: 6px;
    margin-right: 30px;
    margin-bottom: 6px;
    padding: 0;
    vertical-align: right;
}

.thumbnails img {
    width: 75px;
}

ul.thumbnails {
    padding: 0;
    margin-right: 10px;
}

.thumbnails li:last-child {
    margin-bottom: 0;
}

/* Cart */
.cart {
width: 90%;
margin-left: auto;
margin-right: 20px;
margin-top: 30px;
border-top: 2px solid #A8DADC;
border-bottom: 2px solid #A8DADC;
padding: 30px;
background-color: #A8DADC;
}

.cart thead {
border-top: 2px solid #A8DADC;
}

.cart tbody {
    text-align: center;
    position: relative;
} 

.cart td {
    width: 100px;
}

.cart table {
    margin: auto;
   
}

.order-summary {
    background-color: #A8DADC;
    padding: 20px;
padding-bottom: 30px;
    text-align: justify;
    margin-top: 100px;
}
.order-summary .cartButton {
    width: 40%;
    display: inline-block;
    text-align: center;
    margin-left: 100px;
}

.order-summary h3 {
    width: 90%;
    margin: auto;
}